@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <h1 class="display-4">Welcome to RAZOR_Prac_2</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Erwin Sabater</a>.</p>
    <p>
        Hacer una aplicación Asp.net Razor Pages, con una pagina llamada nomina, donde se liste en una tabla
        nombres, apellidos, cargo, salario mensual, descuento AFP, descuento ARS, descuento ISR, total de descuentos y Salario Neto.
        Los datos de nombre, apellido, cargo y salario deben estar en una propiedad del Modelo de la pagina. Los demás campos,
        debe crear funciones correspondientes para calcularlos.
        Precargar por lo menos datos para 5 empleados.
    </p>
</div>